pkgbase = Peyrang
	pkgdesc = A simple application for replacing and permutating colors of an existing svg file.
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/amiroo54/peyrang
	arch = any
	license = MIT
	makedepends = npm
	makedepends = rustup
	makedepends = git
	makedepends = webkit2gtk
	makedepends = base-devel
	makedepends = curl
	makedepends = wget
	makedepends = openssl
	makedepends = gtk3
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = pango
	depends = webkit2gtk
	provides = peyrang
	conflicts = peyrang
	source = Peyrang::git+https://github.com/amiroo54/peyrang.git
	sha256sums = SKIP

pkgname = Peyrang
