pkgbase = svg-pallet-changer
	pkgdesc = A simple application for replacing and permutating colors of an existing svg file.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/amiroo54/svg-pallet-changer
	arch = any
	license = MIT
	makedepends = npm
	makedepends = rustup
	makedepends = git
	makedepends = webkit2gtk
	makedepends = base-devel
	makedepends = curl
	makedepends = wget
	makedepends = openssl
	makedepends = gtk3
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = pango
	depends = webkit2gtk
	provides = svg-pallet-changer
	conflicts = svg-pallet-changer
	source = svg-pallet-changer::git+https://github.com/amiroo54/svg-pallet-changer.git
	sha256sums = SKIP

pkgname = svg-pallet-changer
